body {
    background: url('../img/loginbackground2.jpg') no-repeat;
    background-size: unset;
    margin-left: 10%;
}

header ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: arial;
}

    header ul li {
        float: left;
        width: 200px;
        height: 40px;
        background-color: black;
        opacity: .8;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        margin-right: 5px;
    }

        header ul li a {
            text-decoration: none;
            color: white;
            display: block;
        }

            header ul li a:hover {
                background-color: green;
            }

        header ul li ul li {
            display: none;
        }

        header ul li:hover ul li {
            display: block;
        }
        .home{
            background:green;
        }
body header>ul{
    margin-top:30px;
    margin-left:100px;
}
div.main {
    background-color: rgba(206, 200, 200, 0.45);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    top: 100px;
    margin-left:1%;
    position: relative;
    height: 600px;
    width: 1200px;
}
form.assign ul {        
    position:relative;
    top:10px;
    left:20px;
    width: 800px;
    list-style: none;
}
form.assign ul li {
    width:800px;
    margin-top: 20px;
    margin-left: 15%;
}
input[type='text'] {
    height: 37px;
    width: 170px;
    position: relative;
    margin-left: 5px;
    border: none;
    border-radius:4px;
    color:black;
    border-bottom: 4px solid #808080;
}
input[type='submit'] {
    margin-top:5%;
    margin-left:45%;
    position: relative;
    background-color:#3b2f45;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    color:white;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
}
input[type='submit']:hover {
    background-color:#6c7c7c;
}
input[type='submit']:active {
    position:relative;
    top:1px;
} 
h2{
    text-align:center;
    margin-top:0px;
    color:#90353B;
    width:500px;
    margin-left:28%;
    font-weight:bolder;
    font-size:40px;
}
label{
    font-weight:bold;
    font-size:19px;
}
.right{
    margin-left:30%;	
}